body {
    color: rgb(42 46 53);
    padding: 5px;
}

h1 {
    font-family: 'Playfair', serif;
    align-items: center; 
    font-size: 48px;
    margin: 0;
}

h4 {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
}

button {
    background-color: rgb(42 46 53);
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    
    
}

p {
    padding-bottom: 20px;
    font-family: 'Jost', sans-serif;
    
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.container {
    display: flex;
    flex-direction: column;
}