body {
    color: rgb(42 46 53);
    padding-top: 37px;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 27px;
}

h1 {
    font-family: 'Noto Serif Display', serif;
    align-items: center; 
    font-size: 65px;
    margin: 0;
}

h4 {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

button {
    background-color: rgb(42 46 53);
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    
    
}

p {
    padding-bottom: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.container {
    display: flex;
    flex-direction: column;
}