img {
    height: 100vh;
    width: auto;
    border-right: 12px solid rgb(240 238 232);
   
    
}

i {
    padding-right: 15px;
    font-size: 22px;
}

h1 {
    font-family: 'Playfair', serif;
    font-weight: 300;
    font-size: 72px;
}

h3 {
    text-transform: uppercase;
}

p {
    padding-bottom: 15px;
}

h3, p {
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
    border: 12px solid rgb(240 238 232);
    color: rgb(42 46 53);
    height: 100%;
    width: fit-content;
}

.text {
    display: flex;
    flex-direction: column;
    /* border-right: 12px solid rgb(240 238 232); */
    justify-content: center;
    padding-left: 96px;
    padding-right: 96px;
}

/* .image {
    border-right: 12px solid rgb(240 238 232);
} */

.maincontainer {
    display: flex;
    width: 100%;
    

}

@media (max-width: 768px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    body {
        border-right: 12px solid rgb(240 238 232); 
        margin: 0;
        height: 100%;
    }

    img {
        width: 100%;
        height: auto;
        border-bottom: 12px solid rgb(240 238 232);
        

    }

    h1 {
        font-size: 50px;
    }
    .text {
        /* border-right: 12px solid rgb(240 238 232); */
        width: auto;
        
    }
}



